---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?key=<GOOGLE_API_KEY>&maxResults=50&order=date&part=id,snippet&regionCode=JP&type=channel
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Bdx4f4ps3xCOOo1WZ91nTLkRZ_c/xtELNwyiPxFW2PVgycsoPL3AZnA"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#searchListResponse",
         "etag": "\"Bdx4f4ps3xCOOo1WZ91nTLkRZ_c/xtELNwyiPxFW2PVgycsoPL3AZnA\"",
         "nextPageToken": "CDIQAA",
         "regionCode": "JP",
         "pageInfo": {
          "totalResults": 1000000,
          "resultsPerPage": 50
         },
         "items": [
          {
           "kind": "youtube#searchResult",
           "etag": "\"Bdx4f4ps3xCOOo1WZ91nTLkRZ_c/sqWbYQoyB875ht7o1pvWUNCEopM\"",
           "id": {
            "kind": "youtube#channel",
            "channelId": "UCXnws87xr2r6WL1G8jFLTgA"
           },
           "snippet": {
            "publishedAt": "2019-07-09T22:04:08.000Z",
            "channelId": "UCXnws87xr2r6WL1G8jFLTgA",
            "title": "- Lady. Dewi Channel デヴィ夫人",
            "description": "デヴィ夫人 - Lady. Dewi Channelは、デヴィ夫人のセレブ生活の裏側や、普段TVでは見せない素顔を発信していきます。 ◇プロフィール◇ ラトナ サリ...",
            "thumbnails": {
             "default": {
              "url": "https://yt3.ggpht.com/-LPX7ZU56qZc/AAAAAAAAAAI/AAAAAAAAAAA/Ti-oscb2V2I/s88-c-k-no-mo-rj-c0xffffff/photo.jpg"
             },
             "medium": {
              "url": "https://yt3.ggpht.com/-LPX7ZU56qZc/AAAAAAAAAAI/AAAAAAAAAAA/Ti-oscb2V2I/s240-c-k-no-mo-rj-c0xffffff/photo.jpg"
             },
             "high": {
              "url": "https://yt3.ggpht.com/-LPX7ZU56qZc/AAAAAAAAAAI/AAAAAAAAAAA/Ti-oscb2V2I/s800-c-k-no-mo-rj-c0xffffff/photo.jpg"
             }
            },
            "channelTitle": "- Lady. Dewi Channel デヴィ夫人",
            "liveBroadcastContent": "none"
           }
          },
          {
           "kind": "youtube#searchResult",
           "etag": "\"Bdx4f4ps3xCOOo1WZ91nTLkRZ_c/HIhcMVjJtJKXkEMFiJJ4ClnNMdA\"",
           "id": {
            "kind": "youtube#channel",
            "channelId": "UCuWFWUTkl4epTzoDkvf6arg"
           },
           "snippet": {
            "publishedAt": "2019-07-09T03:19:37.000Z",
            "channelId": "UCuWFWUTkl4epTzoDkvf6arg",
            "title": "河崎魁斗",
            "description": "",
            "[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?key=<GOOGLE_API_KEY>&maxResults=50&order=date&pageToken=CDIQAA&part=id,snippet&regionCode=JP&type=channel
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Bdx4f4ps3xCOOo1WZ91nTLkRZ_c/jdkvcQPX_5soa1TOzhdve6pAEtw"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n \"kind\": \"youtube#searchListResponse\",\n \"etag\": \"\\\"Bdx4f4ps3xCOOo1WZ91nTLkRZ_c/jdkvcQPX_5soa1TOzhdve6pAEtw\\\"\",\n
        \"nextPageToken\": \"CGQQAA\",\n \"prevPageToken\": \"CDIQAQ\",\n \"regionCode\":
        \"JP\",\n \"pageInfo\": {\n  \"totalResults\": 1000000,\n  \"resultsPerPage\":
        50\n },\n \"items\": [\n  {\n   \"kind\": \"youtube#searchResult\",\n   \"etag\":
        \"\\\"Bdx4f4ps3xCOOo1WZ91nTLkRZ_c/AArgVT0YBkoSONtjDXM8behdVDc\\\"\",\n   \"id\":
        {\n    \"kind\": \"youtube#channel\",\n    \"channelId\": \"UC-S5wrjfb2Il4YmaYWcDUVw\"\n
        \  },\n   \"snippet\": {\n    \"publishedAt\": \"2019-06-04T02:30:59.000Z\",\n
        \   \"chann[...]
