---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?key=<GOOGLE_API_KEY>&maxResults=50&order=date&part=id,snippet&regionCode=JP&type=channel
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"8jEFfXBrqiSrcF6Ee7MQuz8XuAM/0vygaPlErtB9EeU5UssMQrCplAg"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#searchListResponse",
         "etag": "\"8jEFfXBrqiSrcF6Ee7MQuz8XuAM/0vygaPlErtB9EeU5UssMQrCplAg\"",
         "nextPageToken": "CDIQAA",
         "regionCode": "JP",
         "pageInfo": {
          "totalResults": 1000000,
          "resultsPerPage": 50
         },
         "items": [
          {
           "kind": "youtube#searchResult",
           "etag": "\"8jEFfXBrqiSrcF6Ee7MQuz8XuAM/xd2ObvMHACQN2czftM6MZQLOvGM\"",
           "id": {
            "kind": "youtube#channel",
            "channelId": "UCm1bPGHMAuWl3jmYyhZOh5g"
           },
           "snippet": {
            "publishedAt": "2019-08-21T12:59:10.000Z",
            "channelId": "UCm1bPGHMAuWl3jmYyhZOh5g",
            "title": "マヒロのチャンネル",
            "description": "",
            "thumbnails": {
             "default": {
              "url": "https://s.ytimg.com/yts/img/avatar_720-vflYJnzBZ.png"
             },
             "medium": {
              "url": "https://s.ytimg.com/yts/img/avatar_720-vflYJnzBZ.png"
             },
             "high": {
              "url": "https://s.ytimg.com/yts/img/avatar_720-vflYJnzBZ.png"
             }
            },
            "channelTitle": "マヒロのチャンネル",
            "liveBroadcastContent": "none"
           }
          },
          {
           "kind": "youtube#searchResult",
           "etag": "\"8jEFfXBrqiSrcF6Ee7MQuz8XuAM/mDSF3ZVSCnPcx8PPrrW9J_RzdCs\"",
           "id": {
            "kind": "youtube#channel",
            "channelId": "UC92Mq-QpVd6kQT5ru52452A"
           },
           "snippet": {
            "publishedAt": "2019-08-21T01:59:34.000Z",
            "channelId": "UC92Mq-QpVd6kQT5ru52452A",
            "title": "WhoIsKulu _",
            "description": "",
      [...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?key=<GOOGLE_API_KEY>&maxResults=50&order=date&pageToken=CDIQAA&part=id,snippet&regionCode=JP&type=channel
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"8jEFfXBrqiSrcF6Ee7MQuz8XuAM/Qtbp0Hp-WZ6jDm0_AmdFAdhk0V4"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#searchListResponse",
         "etag": "\"8jEFfXBrqiSrcF6Ee7MQuz8XuAM/Qtbp0Hp-WZ6jDm0_AmdFAdhk0V4\"",
         "nextPageToken": "CGQQAA",
         "prevPageToken": "CDIQAQ",
         "regionCode": "JP",
         "pageInfo": {
          "totalResults": 1000000,
          "resultsPerPage": 50
         },
         "items": [
          {
           "kind": "youtube#searchResult",
           "etag": "\"8jEFfXBrqiSrcF6Ee7MQuz8XuAM/ijN1mo5hI5IzQGZvJiOlwqzWLVA\"",
           "id": {
            "kind": "youtube#channel",
            "channelId": "UCiKxNv_MHAShqT2lATxG_Wg"
           },
           "snippet": {
            "publishedAt": "2019-07-18T18:50:13.000Z",[...]
