---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?key=<GOOGLE_API_KEY>&maxResults=50&order=date&part=id,snippet&regionCode=JP&type=channel
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Bdx4f4ps3xCOOo1WZ91nTLkRZ_c/9I5fDIHSxhGXZxYWUluRS6yewLo"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n \"kind\": \"youtube#searchListResponse\",\n \"etag\": \"\\\"Bdx4f4ps3xCOOo1WZ91nTLkRZ_c/9I5fDIHSxhGXZxYWUluRS6yewLo\\\"\",\n
        \"nextPageToken\": \"CDIQAA\",\n \"regionCode\": \"JP\",\n \"pageInfo\": {\n
        \ \"totalResults\": 1000000,\n  \"resultsPerPage\": 50\n },\n \"items\": [\n
        \ {\n   \"kind\": \"youtube#searchResult\",\n   \"etag\": \"\\\"Bdx4f4ps3xCOOo1WZ91nTLkRZ_c/COQX1M-V70NXBLKwia-XP1T0nvE\\\"\",\n
        \  \"id\": {\n    \"kind\": \"youtube#channel\",\n    \"channelId\": \"UCMFAyHI7x_E6V5sSPMc8cIQ\"\n
        \  },\n   \"snippet\": {\n    \"publishedAt\": \"2019-07-30T10:46:39.000Z\",\n
        \   \"channelId\": \"UCMFAyHI7x_E6V5sSPMc8cIQ\",\n    \"title\": \"Gの動画製作所\",\n
        \   \"description\": \"\",\n    \"thumbnails\": {\n     \"default\": {\n      \"url\":
        \"https://yt3.ggpht.com/-OlCIZXiaLEM/AAAAAAAAAAI/AAAAAAAAAAA/Md78fv6Qks4/s88-c-k-no-mo-rj-c0xffffff/photo.jpg\"\n
        \    },\n     \"medium\": {\n      \"url\": \"https://yt3.ggpht.com/-OlCIZXiaLEM/AAAAAAAAAAI/AAAAAAAAAAA/Md78fv6Qks4/s240-c-k-no-mo-rj-c0xffffff/photo.jpg\"\n
        \    },\n     \"high\": {\n      \"url\": \"https://yt3.ggpht.com/-OlCIZXiaLEM/AAAAAAAAAAI/AAAAAAAAAAA/Md78fv6Qks4/s800-c-k-no-mo-rj-c0xffffff/photo.jpg\"\n
        \    }\n    },\n    \"channelTitle\": \"Gの動画製作所\",\n    \"liveBroadcastContent\":
        \"none\"\n   }\n  },\n  {\n   \"kind\": \"youtube#searchResult\",\n   \"etag\":
        \"\\\"Bdx4f4ps3xCOOo1WZ91nTLkRZ_c/EfNjDkOC1Qn9ZLtIjeEh2RP8Iqo\\\"\",\n   \"id\":
        {\n    \"kind\": \"youtube#channel\",\n    \"channelId\": \"UCdNWxDnBC9wRna88dOsRL3w\"\n
        \  },\n   \"snippet\": {\n    \"publishedAt\": \"2019-07-30T05:34:01.000Z\",\n
        \   \"channelId\": \"UCdNWxDnBC9wRna88dOsRL3w\",\n    \"title\": \"だいのー[通信制からの大学受験]\",\n
        \   \"description\": \"\",\n    \[...]
