---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?key=<GOOGLE_API_KEY>&maxResults=50&order=date&part=id,snippet&regionCode=JP&type=video
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Bdx4f4ps3xCOOo1WZ91nTLkRZ_c/1qEun0jjDf8zJw-lipnoWGDu3H4"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n \"kind\": \"youtube#searchListResponse\",\n \"etag\": \"\\\"Bdx4f4ps3xCOOo1WZ91nTLkRZ_c/1qEun0jjDf8zJw-lipnoWGDu3H4\\\"\",\n
        \"nextPageToken\": \"CDIQAA\",\n \"regionCode\": \"JP\",\n \"pageInfo\": {\n
        \ \"totalResults\": 1000000,\n  \"resultsPerPage\": 50\n },\n \"items\": [\n
        \ {\n   \"kind\": \"youtube#searchResult\",\n   \"etag\": \"\\\"Bdx4f4ps3xCOOo1WZ91nTLkRZ_c/JdMzBru6-YTrvhIww5QBzMaKhYo\\\"\",\n
        \  \"id\": {\n    \"kind\": \"youtube#video\",\n    \"videoId\": \"OsQ7y1itL9U\"\n
        \  },\n   \"snippet\": {\n    \"publishedAt\": \"2019-07-07T14:17:53.000Z\",\n
        \   \"channelId\": \"UC-JmsoRByJuIKmb6uq0CuzA\",\n    \"title\": \"【三国志大戦】社畜喫茶配信22\",\n
        \   \"description\": \"三国志大戦のチーム「社畜喫茶POISON」の配信です。 今日は1人配信です。ベイルアウト（覇王）\",\n
        \   \"thumbnails\": {\n     \"default\": {\n      \"url\": \"https://i.ytimg.com/vi/OsQ7y1itL9U/default.jpg\",\n
        \     \"width\": 120,\n      \"height\": 90\n     },\n     \"medium\": {\n
        \     \"url\": \"https://i.ytimg.com/vi/OsQ7y1itL9U/mqdefault.jpg\",\n      \"width\":
        320,\n      \"height\": 180\n     },\n     \"high\": {\n      \"url\": \"https://i.ytimg.com/vi/OsQ7y1itL9U/hqdefault.jpg\",\n
        \     \"width\": 480,\n      \"height\": 360\n     }\n    },\n    \"channelTitle\":
        \"社畜喫茶\",\n    \"liveBroadcastContent\": \"none\"\n   }\n  },\n  {\n   \"kind\":
        \"youtube#searchResult\",\n   \"etag\": \"\\\"Bdx4f4ps3xCOOo1WZ91nTLkRZ_c/FDnBwQ-tadP4p9Kt4omnN-zzHyE\\\"\",\n
        \  \"id\": {\n    \"kind\": \"youtube#video\",\n    \"videoId\": \"z0EBVTZy7Uk\"\n
        \  },\n   \"snippet\": {\n    \"publishedAt\": \"2019-07-07T14:16:55.000Z\",\n
        \   \"channelId\": \"UCGAOfYUgiFArpgQ4__-bx1Q\",\n    \"title\": \"Epstein
        Arrest Is HUGE\",\n    \"description\": \"Support me on PayPal at hibbs[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?key=<GOOGLE_API_KEY>&maxResults=50&order=date&part=id&regionCode=JP&type=video
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Bdx4f4ps3xCOOo1WZ91nTLkRZ_c/yXogUk1e1O44HzgsoiaTBzgV-zw"'
      Content-Type:
      - application/json; charset=UTF-8
    b[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?key=<GOOGLE_API_KEY>&maxResults=50&order=date&pageToken=CDIQAA&part=id&regionCode=JP&type=video
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Bdx4f4ps3xCOOo1WZ91nTLkRZ_c/CdlxCPxy4ExgU_4dnQn79VGLoRQ"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#searchListResponse",
         "etag": "\"Bdx4f4ps3xCOOo1WZ91nTLkRZ_c/CdlxCPxy4ExgU_4dnQn79VGLoRQ\"",
         "nextPageToken": "CGQQAA",
         "prevPageToken": "CDIQAQ",
         "regionCode": "JP",
         "pageInfo": {
          "totalResults": 1000000,
          "resultsPerPage": 50
         },
         "items": [
          {
           "kind": "youtube#searchResult",
           "etag": "\"Bdx4f4ps3xCOOo1WZ91nTLkRZ_c/8sfXN8frPAyB1lJ1X70XgB8fzns\"",
           "id": {
            "kind": "youtube#video",
            "videoId": "cWkxnV7uPmQ"
           }
          },
          {
           "kind": "youtube#searchResult",
           "etag": "\"Bdx4f4[...]
[...]
