---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?key=<GOOGLE_API_KEY>&maxResults=50&order=date&part=id,snippet&regionCode=JP&type=video
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Bdx4f4ps3xCOOo1WZ91nTLkRZ_c/FfVPQ14f5OtTDHJNeZNweBfaZ6A"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n \"kind\": \"youtube#searchListResponse\",\n \"etag\": \"\\\"Bdx4f4ps3xCOOo1WZ91nTLkRZ_c/FfVPQ14f5OtTDHJNeZNweBfaZ6A\\\"\",\n
        \"nextPageToken\": \"CDIQAA\",\n \"regionCode\": \"JP\",\n \"pageInfo\": {\n
        \ \"totalResults\": 1000000,\n  \"resultsPerPage\": 50\n },\n \"items\": [\n
        \ {\n   \"kind\": \"youtube#searchResult\",\n   \"etag\": \"\\\"Bdx4f4ps3xCOOo1WZ91nTLkRZ_c/77ibiT1KPWFjioRuEfYPxHDlW6g\\\"\",\n
        \  \"id\": {\n    \"kind\": \"youtube#video\",\n    \"videoId\": \"NGGM3S84q1E\"\n
        \  },\n   \"snippet\": {\n    \"publishedAt\": \"2019-07-10T16:52:19.000Z\",\n
        \   \"channelId\": \"UCUr9EYBIsqnGR0djoOKSU3w\",\n    \"title\": \"堕　落　を　貪　る　覚　悟　を　せ　よ\",\n
        \   \"description\": \"「不愉快です」\",\n    \"thumbnails\": {\n     \"default\":
        {\n      \"url\": \"https://i.ytimg.com/vi/NGGM3S84q1E/default.jpg\",\n      \"width\":
        120,\n      \"height\": 90\n     },\n     \"medium\": {\n      \"url\": \"https://i.ytimg.com/vi/NGGM3S84q1E/mqdefault.jpg\",\n
        \     \"width\": 320,\n      \"height\": 180\n     },\n     \"high\": {\n
        \     \"url\": \"https://i.ytimg.com/vi/NGGM3S84q1E/hqdefault.jpg\",\n      \"width\":
        480,\n      \"height\": 360\n     }\n    },\n    \"channelTitle\": \"かめくんプロジェクト\",\n
        \   \"liveBroadcastContent\": \"none\"\n   }\n  },\n  {\n   \"kind\": \"youtube#searchResult\",\n
        \  \"etag\": \"\\\"Bdx4f4ps3xCOOo1WZ91nTLkRZ_c/Wwo7sC2FglSgzm3SgJ1PC22xf6A\\\"\",\n
        \  \"id\": {\n    \"kind\": \"youtube#video\",\n    \"videoId\": \"dOBxOWItnHU\"\n
        \  },\n   \"snippet\": {\n    \"publishedAt\": \"2019-07-10T16:52:23.000Z\",\n
        \   \"channelId\": \"UCL_0dC8-D__iY1caP9ekTbQ\",\n    \"title\": \"北戴河會議王東峰先探路；昨天中美電話內容你可能又不相信；習近平與川普峰會避談貿易，鐘山俞建華介入；英國大使辭職，川普的一名部長麻煩很大，林鄭也有限了......\",\n
[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?key=<GOOGLE_API_KEY>&maxResults=50&order=date&part=id&regionCode=JP&type=video
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Bdx4f4ps3xCOOo1WZ91nTLkRZ_c/7DGXedkdTdKaJclUPuo45QDRBps"'
      Content-Type:
      - application/json; charset=UTF-8
    b[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?key=<GOOGLE_API_KEY>&maxResults=50&order=date&pageToken=CDIQAA&part=id&regionCode=JP&type=video
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Bdx4f4ps3xCOOo1WZ91nTLkRZ_c/wJJpBuC5XhlzJW3IAXZMpLGhizo"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#searchListResponse",
         "etag": "\"Bdx4f4ps3xCOOo1WZ91nTLkRZ_c/wJJpBuC5XhlzJW3IAXZMpLGhizo\"",
         "nextPageToken": "CGQQAA",
         "prevPageToken": "CDIQAQ",
         "regionCode": "JP",
         "pageInfo": {
          "totalResults": 1000000,
          "resultsPerPage": 50
         },
         "items": [
          {
           "kind": "youtube#searchResult",
           "etag": "\"Bdx4f4ps3xCOOo1WZ91nTLkRZ_c/KhI7Lyz9eQWtTCt1KOXPaj6xXU4\"",
           "id": {
            "kind": "youtube#video",
            "videoId": "UlC9eofm4Uc"
           }
          },
          {
           "kind": "youtube#searchResult",
           "etag": "\"Bdx4f4[...]
[...]
