---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?key=<GOOGLE_API_KEY>&location=140.526666,35.224144&locationRadius=1000km&maxResults=50&order=date&part=id,snippet&regionCode=JP&type=video
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Bdx4f4ps3xCOOo1WZ91nTLkRZ_c/rANwembm7riOZtVg3rFYXQ7UR_Q"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n \"kind\": \"youtube#searchListResponse\",\n \"etag\": \"\\\"Bdx4f4ps3xCOOo1WZ91nTLkRZ_c/rANwembm7riOZtVg3rFYXQ7UR_Q\\\"\",\n
        \"nextPageToken\": \"CDIQAA\",\n \"regionCode\": \"JP\",\n \"pageInfo\": {\n
        \ \"totalResults\": 1000000,\n  \"resultsPerPage\": 50\n },\n \"items\": [\n
        \ {\n   \"kind\": \"youtube#searchResult\",\n   \"etag\": \"\\\"Bdx4f4ps3xCOOo1WZ91nTLkRZ_c/2VPUKN6LD_fJUVaKblsK8s3hDqA\\\"\",\n
        \  \"id\": {\n    \"kind\": \"youtube#video\",\n    \"videoId\": \"aGrmQQaLY-U\"\n
        \  },\n   \"snippet\": {\n    \"publishedAt\": \"2019-08-02T03:26:31.000Z\",\n
        \   \"channelId\": \"UCWScyYf3st8PmlxC8kw1vig\",\n    \"title\": \"卍ゲーム配信\",\n
        \   \"description\": \"ゲームしながらの配信はじめました(*´∀`)♪攻略や実況では無く、雑談配信に近い形です  気軽に遊びに来てください(≧∇≦)不定期ですが宜し...\",\n
        \   \"thumbnails\": {\n     \"default\": {\n      \"url\": \"https://i.ytimg.com/vi/aGrmQQaLY-U/default.jpg\",\n
        \     \"width\": 120,\n      \"height\": 90\n     },\n     \"medium\": {\n
        \     \"url\": \"https://i.ytimg.com/vi/aGrmQQaLY-U/mqdefault.jpg\",\n      \"width\":
        320,\n      \"height\": 180\n     },\n     \"high\": {\n      \"url\": \"https://i.ytimg.com/vi/aGrmQQaLY-U/hqdefault.jpg\",\n
        \     \"width\": 480,\n      \"height\": 360\n     }\n    },\n    \"channelTitle\":
        \"マンヂロウ\",\n    \"liveBroadcastContent\": \"none\"\n   }\n  },\n  {\n   \"kind\":
        \"youtube#searchResult\",\n   \"etag\": \"\\\"Bdx4f4ps3xCOOo1WZ91nTLkRZ_c/OzqoNcX9EPWKVpd7lRP0L3tllcg\\\"\",\n
        \  \"id\": {\n    \"kind\": \"youtube#video\",\n    \"videoId\": \"m4E_W0-Aw0k\"\n
        \  },\n   \"snippet\": {\n    \"publishedAt\": \"2019-08-02T03:24:25.000Z\",\n
        \   \"channelId\": \"UCYOQdwDGLPP0_SdYoqVIR7g\",\n    \"title\": \"紳士のゲームフォーオナー\",\n
        \   \"description\": \"好きなゲームを好きな時に楽しく。この顔にピンときたらチャンネル登録お願いしま[...]
[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?key=<GOOGLE_API_KEY>&location=140.526666,35.224144&locationRadius=1000km&maxResults=50&order=date&pageToken=CDIQAA&part=id,snippet&regionCode=JP&type=video
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Bdx4f4ps3xCOOo1WZ91nTLkRZ_c/DS1h4zuV2R0_LKT--8itT06tTWc"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n \"kind\": \"youtube#searchListResponse\",\n \"etag\": \"\\\"Bdx4f4ps3xCOOo1WZ91nTLkRZ_c/DS1h4zuV2R0_LKT--8itT06tTWc\\\"\",\n
        \"nextPageToken\": \"CGQQAA\",\n \"prevPageToken\": \"CDIQAQ\",\n \"regionCode\":
        \"JP\",\n \"pageInfo\": {\n  \"totalResults\": 1000000,\n  \"resultsPerPage\":
        50\n },\n \"items\": [\n  {\n   \"kind\": \"youtube#searchResult\",\n   \"etag\":
        \"\\\"Bdx4f4ps3xCOOo1WZ91nTLkRZ_c/9HmXq8qU9_nt9uBmEEOFKw98Bu8\\\"\",\n   \"id\":
        {\n    \"kind\": \"youtube#video\",\n    \"videoId\": \"NwH3nS8zBDM\"\n   },\n
        \  \"snippet\": {\n    \"publishedAt\": \"2019-08-02T01:53:31.000Z\",\n    \"channelId\":
        \"UC7NgOwm[...]
