---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?key=<GOOGLE_API_KEY>&location=140.526666,35.224144&locationRadius=1000km&maxResults=50&order=date&part=id,snippet&regionCode=JP&type=video
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Bdx4f4ps3xCOOo1WZ91nTLkRZ_c/erESKQcRcJKsU1ccWfTFpqevdM4"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n \"kind\": \"youtube#searchListResponse\",\n \"etag\": \"\\\"Bdx4f4ps3xCOOo1WZ91nTLkRZ_c/erESKQcRcJKsU1ccWfTFpqevdM4\\\"\",\n
        \"nextPageToken\": \"CDIQAA\",\n \"regionCode\": \"JP\",\n \"pageInfo\": {\n
        \ \"totalResults\": 1000000,\n  \"resultsPerPage\": 50\n },\n \"items\": [\n
        \ {\n   \"kind\": \"youtube#searchResult\",\n   \"etag\": \"\\\"Bdx4f4ps3xCOOo1WZ91nTLkRZ_c/V_pEpa99Gh5mhsz7W1Ts9rFh4UU\\\"\",\n
        \  \"id\": {\n    \"kind\": \"youtube#video\",\n    \"videoId\": \"Q0-JooyP6_M\"\n
        \  },\n   \"snippet\": {\n    \"publishedAt\": \"2019-07-11T16:51:00.000Z\",\n
        \   \"channelId\": \"UCbdmvBJuphbyB2_LjBMW3MA\",\n    \"title\": \"メインストリートで無双する配信【荒野行動】\",\n
        \   \"description\": \"\",\n    \"thumbnails\": {\n     \"default\": {\n      \"url\":
        \"https://i.ytimg.com/vi/Q0-JooyP6_M/default.jpg\",\n      \"width\": 120,\n
        \     \"height\": 90\n     },\n     \"medium\": {\n      \"url\": \"https://i.ytimg.com/vi/Q0-JooyP6_M/mqdefault.jpg\",\n
        \     \"width\": 320,\n      \"height\": 180\n     },\n     \"high\": {\n
        \     \"url\": \"https://i.ytimg.com/vi/Q0-JooyP6_M/hqdefault.jpg\",\n      \"width\":
        480,\n      \"height\": 360\n     }\n    },\n    \"channelTitle\": \"ふぇいたん\",\n
        \   \"liveBroadcastContent\": \"none\"\n   }\n  },\n  {\n   \"kind\": \"youtube#searchResult\",\n
        \  \"etag\": \"\\\"Bdx4f4ps3xCOOo1WZ91nTLkRZ_c/II9q_1qVisFhQOGDaoM31NFzlNE\\\"\",\n
        \  \"id\": {\n    \"kind\": \"youtube#video\",\n    \"videoId\": \"_KXDrdlOXm4\"\n
        \  },\n   \"snippet\": {\n    \"publishedAt\": \"2019-07-11T16:48:44.000Z\",\n
        \   \"channelId\": \"UCjtyu1sR-bXBOxkpj0oOq0w\",\n    \"title\": \"【FF14】
        ファイナルファンタジー14　麻雀　のらりくらり孤高のゲーム実況配信 Let&#39;s play\",\n    \"description\[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?key=<GOOGLE_API_KEY>&location=140.526666,35.224144&locationRadius=1000km&maxResults=50&order=date&pageToken=CDIQAA&part=id,snippet&regionCode=JP&type=video
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Bdx4f4ps3xCOOo1WZ91nTLkRZ_c/9WHLlIUoHqNBlfdHXDD7LwKLLp0"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n \"kind\": \"youtube#searchListResponse\",\n \"etag\": \"\\\"Bdx4f4ps3xCOOo1WZ91nTLkRZ_c/9WHLlIUoHqNBlfdHXDD7LwKLLp0\\\"\",\n
        \"nextPageToken\": \"CGQQAA\",\n \"prevPageToken\": \"CDIQAQ\",\n \"regionCode\":
        \"JP\",\n \"pageInfo\": {\n  \"totalResults\": 1000000,\n  \"resultsPerPage\":
        50\n },\n \"items\": [\n  {\n   \"kind\": \"youtube#searchResult\",\n   \"etag\":
        \"\\\"Bdx4f4ps3xCOOo1WZ91nTLkRZ_c/uJS1fSVL79U8XzTY-433eYRq8dU\\\"\",\n   \"id\":
        {\n    \"kind\": \"youtube#video\",\n    \"videoId\": \"IAyWGT228tw\"\n   },\n
        \  \"snippet\": {\n    \"publishedAt\": \"2019-07-11T16:07:23.000Z\",\n    \"channelId\":
        \"UCXIJgqn[...]
