---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?key=<GOOGLE_API_KEY>&location=140.526666,35.224144&locationRadius=1000km&maxResults=50&order=date&part=id,snippet&regionCode=JP&type=video
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"8jEFfXBrqiSrcF6Ee7MQuz8XuAM/fPYTQjTnyajRDeDWqn-MHIuy6QY"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n \"kind\": \"youtube#searchListResponse\",\n \"etag\": \"\\\"8jEFfXBrqiSrcF6Ee7MQuz8XuAM/fPYTQjTnyajRDeDWqn-MHIuy6QY\\\"\",\n
        \"nextPageToken\": \"CDIQAA\",\n \"regionCode\": \"JP\",\n \"pageInfo\": {\n
        \ \"totalResults\": 1000000,\n  \"resultsPerPage\": 50\n },\n \"items\": [\n
        \ {\n   \"kind\": \"youtube#searchResult\",\n   \"etag\": \"\\\"8jEFfXBrqiSrcF6Ee7MQuz8XuAM/VDP2UvnRV35k_K55aro1k4dAY1s\\\"\",\n
        \  \"id\": {\n    \"kind\": \"youtube#video\",\n    \"videoId\": \"fZpMWCR54So\"\n
        \  },\n   \"snippet\": {\n    \"publishedAt\": \"2019-08-22T16:53:19.000Z\",\n
        \   \"channelId\": \"UCf-zHV_5xPVXgHAap2uVuhg\",\n    \"title\": \"OG vs EG
        | Ti9 Upper Bracket R2 (Bo3)\",\n    \"description\": \"We stream for love
        with Dota 2, not for profit, no ads Dota 2 - The International 2019 (Ti9)
        Series: The International Organizer and Sponsor by Valve Location: ...\",\n
        \   \"thumbnails\": {\n     \"default\": {\n      \"url\": \"https://i.ytimg.com/vi/fZpMWCR54So/default.jpg\",\n
        \     \"width\": 120,\n      \"height\": 90\n     },\n     \"medium\": {\n
        \     \"url\": \"https://i.ytimg.com/vi/fZpMWCR54So/mqdefault.jpg\",\n      \"width\":
        320,\n      \"height\": 180\n     },\n     \"high\": {\n      \"url\": \"https://i.ytimg.com/vi/fZpMWCR54So/hqdefault.jpg\",\n
        \     \"width\": 480,\n      \"height\": 360\n     }\n    },\n    \"channelTitle\":
        \"Dota 2 Daily\",\n    \"liveBroadcastContent\": \"none\"\n   }\n  },\n  {\n
        \  \"kind\": \"youtube#searchResult\",\n   \"etag\": \"\\\"8jEFfXBrqiSrcF6Ee7MQuz8XuAM/cuV8g1Qwb6ArrXtzAzyI1IZzpFg\\\"\",\n
        \  \"id\": {\n    \"kind\": \"youtube#video\",\n    \"videoId\": \"7GC5MGPQVUY\"\n
        \  },\n   \"snippet\": {\n    \"publishedAt\": \"2019-08-22T16:53:30.000Z\",\n
        \   \"channelId\": \"UCi18iFWJm5ZLi4vSJ7ZpDdQ\",\n    \"title\": \"LIVE AT
        THE POLICE STATION PT2\",\n    \"description\": \"\",\n    \"thumbnail[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?key=<GOOGLE_API_KEY>&location=140.526666,35.224144&locationRadius=1000km&maxResults=50&order=date&pageToken=CDIQAA&part=id,snippet&regionCode=JP&type=video
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"8jEFfXBrqiSrcF6Ee7MQuz8XuAM/XacfAzQCaGqWYhY2V8cBh04m_X4"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n \"kind\": \"youtube#searchListResponse\",\n \"etag\": \"\\\"8jEFfXBrqiSrcF6Ee7MQuz8XuAM/XacfAzQCaGqWYhY2V8cBh04m_X4\\\"\",\n
        \"nextPageToken\": \"CGQQAA\",\n \"prevPageToken\": \"CDIQAQ\",\n \"regionCode\":
        \"JP\",\n \"pageInfo\": {\n  \"totalResults\": 1000000,\n  \"resultsPerPage\":
        50\n },\n \"items\": [\n  {\n   \"kind\": \"youtube#searchResult\",\n   \"etag\":
        \"\\\"8jEFfXBrqiSrcF6Ee7MQuz8XuAM/TSS3blsTJ9wgWnibAykqBEE4MWk\\\"\",\n   \"id\":
        {\n    \"kind\": \"youtube#video\",\n    \"videoId\": \"_7SLECdQU5M\"\n   },\n
        \  \"snippet\": {\n    \"publishedAt\": \"2019-08-22T15:15:38.000Z\",\n    \"channelId\":
        \"UCOA9sA5f-xN1fyTGLJjYmrg\",\n    \"title\": \"遺志を継ぐもの\",\n    \"description\":
        \"これだから外人は ネタバレあり © 2019 SQUARE ENIX CO., LTD. All Rights Reserved. CHARACTER
        DESIGN: YOJI SHINKAWA (KOJIMA PRODUCTIONS Co., ...\",\n    \"thumbnails\":
        {\n     \"default\": {\n      \"url\": \"https://i.ytimg.com/vi/_7SLECdQU5M/default.jpg\",\n
        \     \"width\": 120,\n      \"height\": 90\n     },\n     \"medium\": {\n
        \     \"url\": \"https://i.ytimg.com/vi/_7SLECdQU5M/mqdefault.jpg\",\n      \"width\":
        320,\n      \"height\": 180\n     },\n     \"high\": {\n      \"url\": \"https://i.ytimg.com/vi/_7SLECdQU5M/hqdefault.jpg\",\n
        \     \"width\": 480,\n      \"height\": 360\n     }\n    },\n    \"channelTitle\":
        \"banarge0096\",\n    \"liveBroadcastContent\": \"none\"\n   }\n  },\n  {\n
        \  \"kind\": \"youtube#searchResult\",\n   \"etag\": \"\\\"8jEFfXBrqiSrcF6Ee7MQuz8XuAM/vclVHbDGDRqBPYGKObDSy2oxPQM\\\"\",\n
        \  \"id\": {\n    \"kind\": \"youtube#video\",\n    \"videoId\": \"NaBcz4aG4Qs\"\n
        \  },\n   \"snippet\": {\n    \"publishedAt\": \"2019-08-22T15:14:11.000Z\",\n
        \   \"channelId\": \"UCAvZIdF55BSlbCF1Ob9zT2g\",\n    \"title\": \"[FF14]機工士のレベル上げ&amp;スクショ放送[大体雑談]\",\n
        \   \"description\": \"社会人ですので長く放送することはありません。よろしくおねがいします。 主にPS4のゲームを中心にして放送します。
        PS4ID:purinnsesu Twitter:@tomo_m_o.\",\n    \"thumbnails\": {\n     \"default\":
        {\n      \"url\": \"https://i.ytimg.com/vi/NaBcz4aG4Qs/default.jpg\",\n      \"width\":
        120,\n      \"height\": 90\n     },\n     \"medium\": {\n      \"url\": \"https://i.ytimg.com/vi/NaBcz4aG4Qs/mqdefault.jpg\",\n
        \     \"width\": 320,\n      \"height\": 180\n     },\n     \"high\": {\n
        \     \"url\": \"https://i.ytimg.com/vi/NaBcz4aG4Qs/hqdefault.jpg\",\n      \"width\":
        480,\n  [...]
