---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?key=<GOOGLE_API_KEY>&maxResults=50&order=date&part=id,snippet&regionCode=JP&type=channel
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Bdx4f4ps3xCOOo1WZ91nTLkRZ_c/Sbb8nWwF3u7e1P5Jo--32nIMJUo"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n \"kind\": \"youtube#searchListResponse\",\n \"etag\": \"\\\"Bdx4f4ps3xCOOo1WZ91nTLkRZ_c/Sbb8nWwF3u7e1P5Jo--32nIMJUo\\\"\",\n
        \"nextPageToken\": \"CDIQAA\",\n \"regionCode\": \"JP\",\n \"pageInfo\": {\n
        \ \"totalResults\": 1000000,\n  \"resultsPerPage\": 50\n },\n \"items\": [\n
        \ {\n   \"kind\": \"youtube#searchResult\",\n   \"etag\": \"\\\"Bdx4f4ps3xCOOo1WZ91nTLkRZ_c/6WVrxubqgZ61bmdqjoOmcOzwSfo\\\"\",\n
        \  \"id\": {\n    \"kind\": \"youtube#channel\",\n    \"channelId\": \"UC4EQCwfH54ieNPswtXh5K0w\"\n
        \  },\n   \"snippet\": {\n    \"publishedAt\": \"2019-07-01T08:48:47.000Z\",\n
        \   \"channelId\": \"UC4EQCwfH54ieNPswtXh5K0w\",\n    \"title\": \"my mechanics
        insights\",\n    \"description\": \"Hello and welcome to my second channel.
        I'll use this channel to upload how-to videos and other videos that won't
        fit for my main channel. Subscribe for more ...\",\n    \"thumbnails\": {\n
        \    \"default\": {\n      \"url\": \"https://yt3.ggpht.com/-9sFzn37AJiI/AAAAAAAAAAI/AAAAAAAAAAA/9jghYw4XdDg/s88-c-k-no-mo-rj-c0xffffff/photo.jpg\"\n
        \    },\n     \"medium\": {\n      \"url\": \"https://yt3.ggpht.com/-9sFzn37AJiI/AAAAAAAAAAI/AAAAAAAAAAA/9jghYw4XdDg/s240-c-k-no-mo-rj-c0xffffff/photo.jpg\"\n
        \    },\n     \"high\": {\n      \"url\": \"https://yt3.ggpht.com/-9sFzn37AJiI/AAAAAAAAAAI/AAAAAAAAAAA/9jghYw4XdDg/s800-c-k-no-mo-rj-c0xffffff/photo.jpg\"\n
        \    }\n    },\n    \"channelTitle\": \"my mechanics insights\",\n    \"liveBroadcastContent\":
        \"none\"\n   }\n  },\n  {\n   \"kind\": \"youtube#searchResult\",\n   \"etag\":
        \"\\\"Bdx4f4ps3xCOOo1WZ91nTLkRZ_c/mJqdsoUXXq_D4LhRXl8RrGdALwo\\\"\",\n   \"id\":
        {\n    \"kind\": \"youtube#channel\",\n    \"channelId\": \"UCTUayL42-ewOqoy-7MpcN4A\"\n
        \  },\n   \"snippet\": {\n    \"publishedAt\": \"2019-06-29T17:14:39.000Z\",\n
        \   \"channelId\": \"UCTUayL42-ewOqoy-7MpcN4A\",\n    \"title\": \"AlsoAvxry\",\n
        \   \"description\": \"Welcome to my sec[...]
