---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/guideCategories?hl=ja-JP&key=<GOOGLE_API_KEY>&part=id,snippet&regionCode=JP
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"8jEFfXBrqiSrcF6Ee7MQuz8XuAM/P881p9iYehXQypdySsQKQA3NomI"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#guideCategoryListResponse",
         "etag": "\"8jEFfXBrqiSrcF6Ee7MQuz8XuAM/P881p9iYehXQypdySsQKQA3NomI\"",
         "items": [
          {
           "kind": "youtube#guideCategory",
           "etag": "\"8jEFfXBrqiSrcF6Ee7MQuz8XuAM/P8eUmynuwkuIIZLtAUSGyjcu9PQ\"",
           "id": "GCQmVzdCBvZiBZb3VUdWJl",
           "snippet": {
            "channelId": "UCBR8-60-B28hp2BmDPdntcQ",
            "title": "YouTube のおすすめトピック"
           }
          },
          {
           "kind": "youtube#guideCategory",
           "etag": "\"8jEFfXBrqiSrcF6Ee7MQuz8XuAM/ImrTevQ0UvryyOmvjPFFu85AKCU\"",
           "id": "GCQ3JlYXRvciBvbiB0aGUgUmlzZQ",
           "snippet": {
            "channelId": "UCBR8-60-B28hp2BmDPdntcQ",
            "title": "Creator on the Rise"
           }
          },
          {
           "kind": "youtube#guideCategory",
           "etag": "\"8jEFfXBrqiSrcF6Ee7MQuz8XuAM/93JsvyokVHN6cP[...]
