---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?key=<GOOGLE_API_KEY>&maxResults=50&order=viewcount&part=id,snippet&regionCode=JP&type=channel
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Bdx4f4ps3xCOOo1WZ91nTLkRZ_c/7IEtaE9Gl9hjWxpYpUGOjDjPvfg"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#searchListResponse",
         "etag": "\"Bdx4f4ps3xCOOo1WZ91nTLkRZ_c/7IEtaE9Gl9hjWxpYpUGOjDjPvfg\"",
         "nextPageToken": "CDIQAA",
         "regionCode": "JP",
         "pageInfo": {
          "totalResults": 1000000,
          "resultsPerPage": 50
         },
         "items": [
          {
           "kind": "youtube#searchResult",
           "etag": "\"Bdx4f4ps3xCOOo1WZ91nTLkRZ_c/wy1VKFJ41QWWFZBUSKd1tliE8TI\"",
           "id": {
            "kind": "youtube#channel",
            "channelId": "UC-lHJZR3Gqxm24_Vd_AJ5Yw"
           },
           "snippet": {
            "publishedAt": "2010-04-29T10:54:00.000Z",
            "channelId": "UC-lHJZR3Gqxm24_Vd_AJ5Yw",
            "title": "PewDiePie",
            "description": "I make videos.",
            "thumbnails": {
             "default": {
              "url": "https://yt3.ggpht.com/-rJq9gk1QIis/AAAAAAAAAAI/AAAAAAAAAAA/Kx4wkvKOfxY/s88-c-k-no-mo-rj-c0xffffff/photo.jpg"
             },
             "medium": {
              "url": "https://yt3.ggpht.com/-rJq9gk1QIis/AAAAAAAAAAI/AAAAAAAAAAA/Kx4wkvKOfxY/s240-c-k-no-mo-rj-c0xffffff/photo.jpg"
             },
             "high": {
              "url": "https://yt3.ggpht.com/-rJq9gk1QIis/AAAAAAAAAAI/AAAAAAAAAAA/Kx4wkvKOfxY/s800-c-k-no-mo-rj-c0xffffff/photo.jpg"
             }
            },
            "channelTitle": "PewDiePie",
            "liveBroadcastContent": "upcoming"
           }
          },
          {
           "kind": "youtube#searchResult",
           "etag": "\"Bdx4f4ps3xCOOo1WZ91nTLkRZ_c/LFn24-DlZybgPNiX1O9L7c0n5hU\"",
           "id": {
            "kind": "youtube#channel",
            "channelId": "UCam8T03EOFBsNdR0thrFHdQ"
           },
           "snippet": {
            "publishedAt": "2008-03-02T19:25:21.000Z",
            "channelId": "UCam8T03EOFBsNdR0thrFHdQ",
            "title": "VEGETTA777",
            "description": "CODIGO[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?id=UC-lHJZR3Gqxm24_Vd_AJ5Yw&key=<GOOGLE_API_KEY>&part=id,snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Bdx4f4ps3xCOOo1WZ91nTLkRZ_c/LRddIrXkAIzRvSr_CKMvVqTy5_c"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#channelListResponse",
         "etag": "\"Bdx4f4ps3xCOOo1WZ91nTLkRZ_c/LRddIrXkAIzRvSr_CKMvVqTy5_c\"",
         "pageInfo": {
          "totalResults": 1,
          "resultsPerPage": 1
         },
         "items": [
          {
           "kind": "youtube#channel",
           "etag": "\"Bdx4f4ps3xCOOo1WZ91nTLkRZ_c/j9j3LOwojQBgxrluVO-sJFXVrdA\"",
           "id": "UC-lHJZR3Gqxm24_Vd_AJ5Yw",
           "snippet": {
            "title": "PewDiePie",
            "description": "I make videos.",
            "customUrl": "PewDiePie",
            "publishedAt": "2010-04-29T10:54:00.000Z",
            "thumbnails": {
             "default": {
              "url": "https://yt3.ggpht.com/a/AGF-l79FVckie4j9WT-4cEW6iu3gPd4GivQf_XNSWg=s88-c-k-c0xffffffff-no-rj-mo",
              "width": 88,
              "height": 88
             },
             "medium": {
              "url": "https://yt3.ggpht.com/a/AGF-l79FVckie4j9WT-4cEW6iu3gPd4GivQf_XNSWg=s240-c-k-c0xffffffff-no-rj-mo",
              "width": 240,
              "height": 240
             },
             "high": {
              "url": "https://yt3.ggpht.com/a/AGF-l79FVckie4j9WT-4cEW6iu3gPd4GivQf_XNSWg=s800-c-k-c0xffffffff-no-rj-mo",
              "width": 800,
              "height": 800
             }
            },
            "localized": {
             "title": "PewDiePie",
             "description": "I make videos."
            },
            "country": "US"
           }
          }
         ]
        }
  recorded_at: Wed, 17 Jul 2019 17:36:32 GMT
recorded_with: VCR 5.0.0
