---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?key=<GOOGLE_API_KEY>&maxResults=50&order=date&part=id,snippet&regionCode=JP&type=channel
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Bdx4f4ps3xCOOo1WZ91nTLkRZ_c/MnmglOgnw8kdKOoXb8o3IfCkbdk"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#searchListResponse",
         "etag": "\"Bdx4f4ps3xCOOo1WZ91nTLkRZ_c/MnmglOgnw8kdKOoXb8o3IfCkbdk\"",
         "nextPageToken": "CDIQAA",
         "regionCode": "JP",
         "pageInfo": {
          "totalResults": 1000000,
          "resultsPerPage": 50
         },
         "items": [
          {
           "kind": "youtube#searchResult",
           "etag": "\"Bdx4f4ps3xCOOo1WZ91nTLkRZ_c/sqWbYQoyB875ht7o1pvWUNCEopM\"",
           "id": {
            "kind": "youtube#channel",
            "channelId": "UCXnws87xr2r6WL1G8jFLTgA"
           },
           "snippet": {
            "publishedAt": "2019-07-09T22:04:08.000Z",
            "channelId": "UCXnws87xr2r6WL1G8jFLTgA",
            "title": "- Lady. Dewi Channel デヴィ夫人",
            "description": "デヴィ夫人 - Lady. Dewi Channelは、デヴィ夫人のセレブ生活の裏側や、普段TVでは見せない素顔を発信していきます。 ◇プロフィール◇ ラトナ サリ...",
            "thumbnails": {
             "default": {
              "url": "https://yt3.ggpht.com/-LPX7ZU56qZc/AAAAAAAAAAI/AAAAAAAAAAA/Ti-oscb2V2I/s88-c-k-no-mo-rj-c0xffffff/photo.jpg"
             },
             "medium": {
              "url": "https://yt3.ggpht.com/-LPX7ZU56qZc/AAAAAAAAAAI/AAAAAAAAAAA/Ti-oscb2V2I/s240-c-k-no-mo-rj-c0xffffff/photo.jpg"
             },
             "high": {
              "url": "https://yt3.ggpht.com/-LPX7ZU56qZc/AAAAAAAAAAI/AAAAAAAAAAA/Ti-oscb2V2I/s800-c-k-no-mo-rj-c0xffffff/photo.jpg"
             }
            },
            "channelTitle": "- Lady. Dewi Channel デヴィ夫人",
            "liveBroadcastContent": "none"
           }
          },
          {
           "kind": "youtube#searchResult",
           "etag": "\"Bdx4f4ps3xCOOo1WZ91nTLkRZ_c/HIhcMVjJtJKXkEMFiJJ4ClnNMdA\"",
           "id": {
            "kind": "youtube#channel",
            "channelId": "UCuWFWUTkl4epTzoDkvf6arg"
           },
           "snippet": {
            "publishedAt": "2019-07-09T03:19:37.000Z",
            "channelId": "UCuWFWUTkl4epTzoDkvf6arg",
            "title": "河崎魁斗",
            "description": "",
            "[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?key=<GOOGLE_API_KEY>&maxResults=50&order=date&part=id&regionCode=JP&type=channel
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Bdx4f4ps3xCOOo1WZ91nTLkRZ_c/pvG3BsEii3YfKtCTeYTS1QqEFaM"'
      Content-Type:
      - application/json; charset=UTF-8
   [...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?key=<GOOGLE_API_KEY>&maxResults=50&order=date&pageToken=CDIQAA&part=id&regionCode=JP&type=channel
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Bdx4f4ps3xCOOo1WZ91nTLkRZ_c/o1fm1MGE0rCzVeO3clPFKh5U96Y"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#searchListResponse",
         "etag": "\"Bdx4f4ps3xCOOo1WZ91nTLkRZ_c/o1fm1MGE0rCzVeO3clPFKh5U96Y\"",
         "nextPageToken": "CGQQAA",
         "prevPageToken": "CDIQAQ",
         "regionCode": "JP",
         "pageInfo": {
          "totalResults": 1000000,
          "resultsPerPage": 50
         },
         "items": [
          {
           "kind": "youtube#searchResult",
           "etag": "\"Bdx4f4ps3xCOOo1WZ91nTLkRZ_c/ca3sgDiiec_ZIz2fb-icMrdui_k\"",
           "id": {
            "kind": "youtube#channel",
            "channelId": "UC-S5wrjfb2Il4YmaYWcDUVw"
           }
          },
          {
           "kind": "youtube#searchResult",
           [...]
[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?key=<GOOGLE_API_KEY>&maxResults=50&order=view_count&part=id,snippet&regionCode=JP&type=channel
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "invalidParameter",
            "message": "Invalid string value: 'view_count'. Allowed values: [date, rating, relevance, title, videocount, viewcount]",
            "locationType": "parameter",
            "location": "order"
           }
          ],
          "code": 400,
          "message": "Invalid string value: 'view_count'. Allowed values: [date, rating, relevance, title, videocount, viewcount]"
         }
        }
  recorded_at: Wed, 17 Jul 2019 17:23:36 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?key=<GOOGLE_API_KEY>&maxResults=50&order=viewcount&part=id,snippet&regionCode=JP&type=channel
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Bdx4f4ps3xCOOo1WZ91nTLkRZ_c/jW_e1ru8huto7hqn0pnphpkz65g"'
      Content-Type:
      - application/json; char[...]
