---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?key=<GOOGLE_API_KEY>&maxResults=50&order=date&part=id,snippet&regionCode=JP&type=channel
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"8jEFfXBrqiSrcF6Ee7MQuz8XuAM/MPQ0D8rcRKlJRV4GuSecQ7MrVvo"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#searchListResponse",
         "etag": "\"8jEFfXBrqiSrcF6Ee7MQuz8XuAM/MPQ0D8rcRKlJRV4GuSecQ7MrVvo\"",
         "nextPageToken": "CDIQAA",
         "regionCode": "JP",
         "pageInfo": {
          "totalResults": 1000000,
          "resultsPerPage": 50
         },
         "items": [
          {
           "kind": "youtube#searchResult",
           "etag": "\"8jEFfXBrqiSrcF6Ee7MQuz8XuAM/xd2ObvMHACQN2czftM6MZQLOvGM\"",
           "id": {
            "kind": "youtube#channel",
            "channelId": "UCm1bPGHMAuWl3jmYyhZOh5g"
           },
           "snippet": {
            "publishedAt": "2019-08-21T12:59:10.000Z",
            "channelId": "UCm1bPGHMAuWl3jmYyhZOh5g",
            "title": "マヒロのチャンネル",
            "description": "",
            "thumbnails": {
             "default": {
              "url": "https://s.ytimg.com/yts/img/avatar_720-vflYJnzBZ.png"
             },
             "medium": {
              "url": "https://s.ytimg.com/yts/img/avatar_720-vflYJnzBZ.png"
             },
             "high": {
              "url": "https://s.ytimg.com/yts/img/avatar_720-vflYJnzBZ.png"
             }
            },
            "channelTitle": "マヒロのチャンネル",
            "liveBroadcastContent": "none"
           }
          },
          {
           "kind": "youtube#searchResult",
           "etag": "\"8jEFfXBrqiSrcF6Ee7MQuz8XuAM/mDSF3ZVSCnPcx8PPrrW9J_RzdCs\"",
           "id": {
            "kind": "youtube#channel",
            "channelId": "UC92Mq-QpVd6kQT5ru52452A"
           },
           "snippet": {
            "publishedAt": "2019-08-21T01:59:34.000Z",
            "channelId": "UC92Mq-QpVd6kQT5ru52452A",
            "title": "WhoIsKulu _",
            "description": "",
      [...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?key=<GOOGLE_API_KEY>&maxResults=50&order=date&part=id&regionCode=JP&type=channel
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"8jEFfXBrqiSrcF6Ee7MQuz8XuAM/0UGI3gfGE5hGNfhqLlV9xUpXo9o"'
      Content-Type:
      - application/json; charset=UTF-8
   [...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?key=<GOOGLE_API_KEY>&maxResults=50&order=date&pageToken=CDIQAA&part=id&regionCode=JP&type=channel
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"8jEFfXBrqiSrcF6Ee7MQuz8XuAM/b8UmVbsU8oN7-oG09RHFB2tNsZA"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#searchListResponse",
         "etag": "\"8jEFfXBrqiSrcF6Ee7MQuz8XuAM/b8UmVbsU8oN7-oG09RHFB2tNsZA\"",
         "nextPageToken": "CGQQAA",
         "prevPageToken": "CDIQAQ",
         "regionCode": "JP",
         "pageInfo": {
          "totalResults": 1000000,
          "resultsPerPage": 50
         },
         "items": [
          {
           "kind": "youtube#searchResult",
           "etag": "\"8jEFfXBrqiSrcF6Ee7MQuz8XuAM/iFW0YC1gFNbypVmcVElXfq1Gqh0\"",
           "id": {
            "kind": "youtube#channel",
            "channelId": "UCiKxNv_MHAShqT2lATxG_Wg"
           }
          },
          {
           "kind": "youtube#searchResult",
           [...]
[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?key=<GOOGLE_API_KEY>&maxResults=50&order=viewcount&part=id,snippet&regionCode=JP&type=channel
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"8jEFfXBrqiSrcF6Ee7MQuz8XuAM/H_EkWu5IOdYqTGm2ZO6pf0UGAc8"'
      Content-Type:
      - application/json; char[...]
