---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?channelId=UC2GuoutVyegg6PUK88lLpjw&key=<GOOGLE_API_KEY>&part=id,snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Bdx4f4ps3xCOOo1WZ91nTLkRZ_c/WO-6aYkpCrcNKM26B9AA5riGx8M"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#searchListResponse",
         "etag": "\"Bdx4f4ps3xCOOo1WZ91nTLkRZ_c/WO-6aYkpCrcNKM26B9AA5riGx8M\"",
         "nextPageToken": "CAUQAA",
         "regionCode": "JP",
         "pageInfo": {
          "totalResults": 5047,
          "resultsPerPage": 5
         },
         "items": [
          {
           "kind": "youtube#searchResult",
           "etag": "\"Bdx4f4ps3xCOOo1WZ91nTLkRZ_c/vUNsx4WRrZnk6-SS4zhNC0sjyjw\"",
           "id": {
            "kind": "youtube#video",
            "videoId": "FZLtoWc7CDM"
           },
           "snippet": {
            "publishedAt": "2014-12-31T03:07:15.000Z",
            "channelId": "UC2GuoutVyegg6PUK88lLpjw",
            "title": "【まとめ】2BRO.の「2014年末動画総集編」【2BRO.】",
            "description": "【総集編の再生リスト】https://www.youtube.com/playlist?list=PL1Z1KdfmKueY1Q3vApFWQbDg4SwjofVPJ ☆最新投稿情報はツイッターで！",
            "thumbnails": {
             "default": {
              "url": "https://i.ytimg.com/vi/FZLtoWc7CDM/default.jpg",
              "width": 120,
              "height": 90
             },
             "medium": {
              "url": "https://i.ytimg.com/vi/FZLtoWc7CDM/mqdefault.jpg",
              "width": 320,
              "height": 180
             },
             "high": {
              "url": "https://i.ytimg.com/vi/FZLtoWc7CDM/hqdefault.jpg",
              "width": 480,
              "height": 360
             }
            },
            "channelTitle": "兄者弟者",
            "liveBroadcastContent": "none"
           }
          },
          {
           "kind": "youtube#searchResult",
           "etag": "\"Bdx4f4ps3xCOOo1WZ91nTLkRZ_c/ScVY5TwDj26xomCIKZ1JiX1pfTM\"",
           "id": {
            "kind": "youtube#video",
            "videoId": "GKW2YrztxJ4"
           },
           "snippet": {
            "publishedAt": "2016-10-17T13:00:00.000Z",
            "channelId": "UC2GuoutVyegg6PUK88lLpjw",
            "title": "【PSVR】弟者,兄者,おついちの「THE PLAYROOM VR（キャット＆マウス）」【2BRO.】",
            "d[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?id=UC2GuoutVyegg6PUK88lLpjw&key=<GOOGLE_API_KEY>&part=id,snippet
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Bdx4f4ps3xCOOo1WZ91nTLkRZ_c/JUF9yB3FLw_ofNaU4wGh6m51GYM"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#channelListResponse",
         "etag": "\"Bdx4f4ps3xCOOo1WZ91nTLkRZ_c/JUF9yB3FLw_ofNaU4wGh6m51GYM\"",
         "pageInfo": {
          "totalResults": 1,
          "resultsPerPage": 1
         },
         "items": [
          {
           "kind": "youtube#channel",
           "etag": "\"Bdx4f4ps3xCOOo1WZ91nTLkRZ_c/zQksd8KNmMNSvYeIFUPNEVpdmN8\"",
           "id": "UC2GuoutVyegg6PUK88lLpjw",
           "snippet": {
            "title": "兄者弟者",
            "description": "★最新投稿情報はツイッターで！《@Otojya》https://twitter.com/otojya \n\n▼2BRO.関連チャンネルリスト\n【兄者弟者チャンネルTOP】\nhttps://www.youtube.com/user/norunine \n\n【アニドラチャンネルTOP】\nhttps://www.youtube.com/channel/UCzSi25RJfQNtQzXNYQUAcNA \n\n【おついち TubeチャンネルTOP】\nhttps://www.youtube.com/user/afuramazda0826 \n\nWelcome to 2BRO. Official YouTube Channel!!\n弟者と兄者のエンターテイメントチャンネルへようこそ！\n\nTo Game publisher!\nWe never ask Steam Key by e-mail. So please don't send it. Thank you.",
            "customUrl": "norunine",
            "publishedAt": "2010-05-05T06:48:07.000Z",
            "thumbnails": {
             "default": {
              "url": "https://yt3.ggpht.com/a/AGF-l78UFB1pQ2APq7T2vy_R43z-7QS23wAZXNMxCA=s88-c-k-c0xffffffff-no-rj-mo",
              "width": 88,
              "height": 88
             },
             "medium": {
              "url": "https://yt3.ggpht.com/a/AGF-l78UFB1pQ2APq7T2vy_R43z-7QS23wAZXNMxCA=s240-c-k-c0xffffffff-no-rj-mo",
              "width": 240,
              "height": 240
             },
             "high": {
              "url": "https://yt3.ggpht.com/a/AGF-l78UFB1pQ2APq7T2vy_R43z-7QS23wAZXNMxCA=s800-c-k-c0xffffffff-no-rj-mo",
              "width": 800,
              "height": 800
             }
            },
            "localized": {
             "title": "兄者弟者",
             "description": "★最新投稿情報はツイッターで！《@Otojya》https://twitter.com/otojya \n\n▼2BRO.関連チャンネルリスト\n【兄者弟者チャンネルTOP】\nhttps://www.youtube.com/user/norunine \n\n【アニドラチャンネルTOP】\nhttps://www.youtube.com/channel/UCzSi25RJfQNtQzXNYQUAcNA \n\n【おついち TubeチャンネルTOP】\nhttps://www.youtube.com/user/afuramazda0826 \n\nWelcome to 2BRO. Official YouTube Channel!!\n弟者と兄者のエンターテイメントチャンネルへようこそ！\n\nTo Game publisher!\nWe never ask Steam Key by e-mail. So please don't send it. Thank you."
            },
            "country": "JP"
           }
          }
         ]
        }
  recorded_at: Fri, 02 Aug 2019 03:36:13 GMT
recorded_with: VCR 5.0.0
