---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?id=UC2GuoutVyegg6PUK88lLpjw&key=<GOOGLE_API_KEY>&part=id,snippet,statistics
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"8jEFfXBrqiSrcF6Ee7MQuz8XuAM/Hg1cgBmcpSIsYZgwxOpiOBk1l8w"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#channelListResponse",
         "etag": "\"8jEFfXBrqiSrcF6Ee7MQuz8XuAM/Hg1cgBmcpSIsYZgwxOpiOBk1l8w\"",
         "pageInfo": {
          "totalResults": 1,
          "resultsPerPage": 1
         },
         "items": [
          {
           "kind": "youtube#channel",
           "etag": "\"8jEFfXBrqiSrcF6Ee7MQuz8XuAM/w1XtclBfosQBdaWoiZKXo7yzhQw\"",
           "id": "UC2GuoutVyegg6PUK88lLpjw",
           "snippet": {
            "title": "兄者弟者",
            "description": "★最新投稿情報はツイッターで！《@Otojya》https://twitter.com/otojya \n\n▼2BRO.関連チャンネルリスト\n【兄者弟者チャンネルTOP】\nhttps://www.youtube.com/user/norunine \n\n【アニドラチャンネルTOP】\nhttps://www.youtube.com/channel/UCzSi25RJfQNtQzXNYQUAcNA \n\n【おついち TubeチャンネルTOP】\nhttps://www.youtube.com/user/afuramazda0826 \n\nWelcome to 2BRO. Official YouTube Channel!!\n弟者と兄者のエンターテイメントチャンネルへようこそ！\n\nTo Game publisher!\nWe never ask Steam Key by e-mail. So please don't send it. Thank you.",
            "customUrl": "norunine",
            "publishedAt": "2010-05-05T06:48:07.000Z",
            "thumbnails": {
             "default": {
              "url": "https://yt3.ggpht.com/a/AGF-l78UFB1pQ2APq7T2vy_R43z-7QS23wAZXNMxCA=s88-c-k-c0xffffffff-no-rj-mo",
              "width": 88,
              "height": 88
             },
             "medium": {
              "url": "https://yt3.ggpht.com/a/AGF-l78UFB1pQ2APq7T2vy_R43z-7QS23wAZXNMxCA=s240-c-k-c0xffffffff-no-rj-mo",
              "width": 240,
              "height": 240
             },
             "high": {
              "url": "https://yt3.ggpht.com/a/AGF-l78UFB1pQ2APq7T2vy_R43z-7QS23wAZXNMxCA=s800-c-k-c0xffffffff-no-rj-mo",
              "width": 800,
              "height": 800
             }
            },
            "localized": {
             "title": "兄者弟者",
             "description": "★最新投稿情報はツイッターで！《@Otojya》https://twitter.com/otojya \n\n▼2BRO.関連チャンネルリスト\n【兄者弟者チャンネルTOP】\nhttps://www.youtube.com/user/norunine \n\n【アニドラチャンネルTOP】\nhttps://www.youtube.com/channel/UCzSi25RJfQNtQzXNYQUAcNA \n\n【おついち TubeチャンネルTOP】\nhttps://www.youtube.com/user/afuramazda0826 \n\nWelcome to 2BRO. Official YouTube Channel!!\n弟者と兄者のエンターテイメントチャンネルへようこそ！\n\nTo Game publisher!\nWe never ask Steam Key by e-mail. So please don't send it. Thank you."
            },
            "country": "JP"
           },
           "statistics": {
            "viewCount": "2564417405",
            "commentCount": "0",
            "subscriberCount": "2622880",
            "hiddenSubscriberCount": false,
            "videoCount": "5080"
           }
          }
         ]
        }
  recorded_at: Thu, 22 Aug 2019 16:55:43 GMT
recorded_with: VCR 5.0.0
