---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?key=<GOOGLE_API_KEY>&maxResults=50&order=date&part=id,snippet&regionCode=JP&type=video
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Bdx4f4ps3xCOOo1WZ91nTLkRZ_c/RsWddFm8z6_0mhMQ_m62YFNAP5E"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n \"kind\": \"youtube#searchListResponse\",\n \"etag\": \"\\\"Bdx4f4ps3xCOOo1WZ91nTLkRZ_c/RsWddFm8z6_0mhMQ_m62YFNAP5E\\\"\",\n
        \"nextPageToken\": \"CDIQAA\",\n \"regionCode\": \"JP\",\n \"pageInfo\": {\n
        \ \"totalResults\": 1000000,\n  \"resultsPerPage\": 50\n },\n \"items\": [\n
        \ {\n   \"kind\": \"youtube#searchResult\",\n   \"etag\": \"\\\"Bdx4f4ps3xCOOo1WZ91nTLkRZ_c/-niNbdwhe3o8KHothHgMZiO0odw\\\"\",\n
        \  \"id\": {\n    \"kind\": \"youtube#video\",\n    \"videoId\": \"LwJDOkyQS6w\"\n
        \  },\n   \"snippet\": {\n    \"publishedAt\": \"2019-07-10T16:54:23.000Z\",\n
        \   \"channelId\": \"UCBcCEq1t0E1_gXRrueM-FZg\",\n    \"title\": \"TRILL BOXING
        TALK LIVE WITH BLACK FIGHT FAN &amp; 78SPORTSTV EP. 258\",\n    \"description\":
        \"Support the stream: https://streamlabs.com/blackfightfantv DONATE TO TRILL
        BOXING TALK ON PAYPAL ANYTIME!!! https://goo.gl/ACjbGA.\",\n    \"thumbnails\":
        {\n     \"default\": {\n      \"url\": \"https://i.ytimg.com/vi/LwJDOkyQS6w/default.jpg\",\n
        \     \"width\": 120,\n      \"height\": 90\n     },\n     \"medium\": {\n
        \     \"url\": \"https://i.ytimg.com/vi/LwJDOkyQS6w/mqdefault.jpg\",\n      \"width\":
        320,\n      \"height\": 180\n     },\n     \"high\": {\n      \"url\": \"https://i.ytimg.com/vi/LwJDOkyQS6w/hqdefault.jpg\",\n
        \     \"width\": 480,\n      \"height\": 360\n     }\n    },\n    \"channelTitle\":
        \"TRILL BOXING TALK\",\n    \"liveBroadcastContent\": \"none\"\n   }\n  },\n
        \ {\n   \"kind\": \"youtube#searchResult\",\n   \"etag\": \"\\\"Bdx4f4ps3xCOOo1WZ91nTLkRZ_c/77ibiT1KPWFjioRuEfYPxHDlW6g\\\"\",\n
        \  \"id\": {\n    \"kind\": \"youtube#video\",\n    \"videoId\": \"NGGM3S84q1E\"\n
        \  },\n   \"snippet\": {\n    \"publishedAt\": \"2019-07-10T16:52:19.000Z\",\n
        \   \"channelId\": \"UCUr9EYBIsqnGR0djoOKSU3w\",\n    \"title\": \"堕　落　を　貪　る　覚　悟　を　せ　よ\",\n
        \   \"description\": \"「不愉快です」\",\n    \"thumbnails\"[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?key=<GOOGLE_API_KEY>&location=140.526666,35.224144&locationRadius=1000km&maxResults=50&order=date&part=id,snippet&regionCode=JP&type=video
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Bdx4f4ps3xCOOo1WZ91nTLkRZ_c/dphoT7CEQIcfbbQqVBXG2Jx5mj0"'
     [...]
