---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?key=<GOOGLE_API_KEY>&maxResults=50&order=date&part=id,snippet&regionCode=JP&type=channel
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Bdx4f4ps3xCOOo1WZ91nTLkRZ_c/vHnSYJF1sdhztB0rlRe33FaCZuw"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n \"kind\": \"youtube#searchListResponse\",\n \"etag\": \"\\\"Bdx4f4ps3xCOOo1WZ91nTLkRZ_c/vHnSYJF1sdhztB0rlRe33FaCZuw\\\"\",\n
        \"nextPageToken\": \"CDIQAA\",\n \"regionCode\": \"JP\",\n \"pageInfo\": {\n
        \ \"totalResults\": 1000000,\n  \"resultsPerPage\": 50\n },\n \"items\": [\n
        \ {\n   \"kind\": \"youtube#searchResult\",\n   \"etag\": \"\\\"Bdx4f4ps3xCOOo1WZ91nTLkRZ_c/IZayOKWD7zl7voOLojErzYlH6Hs\\\"\",\n
        \  \"id\": {\n    \"kind\": \"youtube#channel\",\n    \"channelId\": \"UCnbpwWTHa-Q6LoUGCg3vK4Q\"\n
        \  },\n   \"snippet\": {\n    \"publishedAt\": \"2019-07-14T07:49:34.000Z\",\n
        \   \"channelId\": \"UCnbpwWTHa-Q6LoUGCg3vK4Q\",\n    \"title\": \"Guru Guru
        CHANNEL\",\n    \"description\": \"\",\n    \"thumbnails\": {\n     \"default\":
        {\n      \"url\": \"https://yt3.ggpht.com/-ZB8yc8v_-Ow/AAAAAAAAAAI/AAAAAAAAAAA/JFaGVvMfFwM/s88-c-k-no-mo-rj-c0xffffff/photo.jpg\"\n
        \    },\n     \"medium\": {\n      \"url\": \"https://yt3.ggpht.com/-ZB8yc8v_-Ow/AAAAAAAAAAI/AAAAAAAAAAA/JFaGVvMfFwM/s240-c-k-no-mo-rj-c0xffffff/photo.jpg\"\n
        \    },\n     \"high\": {\n      \"url\": \"https://yt3.ggpht.com/-ZB8yc8v_-Ow/AAAAAAAAAAI/AAAAAAAAAAA/JFaGVvMfFwM/s800-c-k-no-mo-rj-c0xffffff/photo.jpg\"\n
        \    }\n    },\n    \"channelTitle\": \"Guru Guru CHANNEL\",\n    \"liveBroadcastContent\":
        \"none\"\n   }\n  },\n  {\n   \"kind\": \"youtube#searchResult\",\n   \"etag\":
        \"\\\"Bdx4f4ps3xCOOo1WZ91nTLkRZ_c/HjPd1d9UgXk6dDs55u4rbAV4DCw\\\"\",\n   \"id\":
        {\n    \"kind\": \"youtube#channel\",\n    \"channelId\": \"UCDlP_E1ae7tIaTuMK21KiOQ\"\n
        \  },\n   \"snippet\": {\n    \"publishedAt\": \"2019-07-13T21:03:40.000Z\",\n
        \   \"channelId\": \"UCDlP_E1ae7tIaTuMK21KiOQ\",\n    \"title\": \"10,000
        Subscribers By The End Of The Year !\",\n    \"d[...]
