---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?key=<GOOGLE_API_KEY>&maxResults=50&order=date&part=id,snippet&regionCode=JP&type=channel
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Bdx4f4ps3xCOOo1WZ91nTLkRZ_c/o6xIW01IW9vohAiWsNRjftAZQ5c"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#searchListResponse",
         "etag": "\"Bdx4f4ps3xCOOo1WZ91nTLkRZ_c/o6xIW01IW9vohAiWsNRjftAZQ5c\"",
         "nextPageToken": "CDIQAA",
         "regionCode": "JP",
         "pageInfo": {
          "totalResults": 1000000,
          "resultsPerPage": 50
         },
         "items": [
          {
           "kind": "youtube#searchResult",
           "etag": "\"Bdx4f4ps3xCOOo1WZ91nTLkRZ_c/CpWuZNRqfGnoguLK2J407i_Ng64\"",
           "id": {
            "kind": "youtube#channel",
            "channelId": "UCu7phdCr-raU7OaJfEpHZww"
           },
           "snippet": {
            "publishedAt": "2019-07-01T08:59:36.000Z",
            "channelId": "UCu7phdCr-raU7OaJfEpHZww",
            "title": "GCN Racing",
            "description": "GCN Racing is the home of pro cycling from the Global Cycling Network. GCN Racing will bring highlights, commentary and analysis from some of the biggest ...",
            "thumbnails": {
             "default": {
              "url": "https://yt3.ggpht.com/-4dLFV05c764/AAAAAAAAAAI/AAAAAAAAAAA/Wh33H-d4A2M/s88-c-k-no-mo-rj-c0xffffff/photo.jpg"
             },
             "medium": {
              "url": "https://yt3.ggpht.com/-4dLFV05c764/AAAAAAAAAAI/AAAAAAAAAAA/Wh33H-d4A2M/s240-c-k-no-mo-rj-c0xffffff/photo.jpg"
             },
             "high": {
              "url": "https://yt3.ggpht.com/-4dLFV05c764/AAAAAAAAAAI/AAAAAAAAAAA/Wh33H-d4A2M/s800-c-k-no-mo-rj-c0xffffff/photo.jpg"
             }
            },
            "channelTitle": "GCN Racing",
            "liveBroadcastContent": "upcoming"
           }
          },
          {
           "kind": "youtube#searchResult",
           "etag": "\"Bdx4f4ps3xCOOo1WZ91nTLkRZ_c/dlW1KBs0mbwTkAkhjGwZUMRuz0M\"",
           "id": {
            "kind": "youtube#channel",
            "channelId": "UCqqg22ZiGBOPLWp8QQUJMbw"
           },
           "snippet": {
            "publishedAt": "2019-06-21T21:20:58.000Z",
            "channelId": "UCqqg22ZiGBOPLWp8QQUJMbw",
            "title": "KindNey II",
            "description": "",
   [...]
